.co-counsel-feed15111307-container {
  min-height: 100vh;
}
.co-counsel-feed15111307-co-counsel-feed15111307 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-feed15111307-image {
  top: -34px;
  left: 0px;
  width: 428px;
  height: 960px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 229, 231, 1);
}
.co-counsel-feed15111307-image01 {
  top: -34px;
  left: 0px;
  width: 428px;
  height: 960px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 24px 24px 0 0;
  background-color: rgba(81, 81, 81, 1);
}
.co-counsel-feed15111307-svg {
  top: 247px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-feed15111307-svg01 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-feed15111307-svg02 {
  top: 545px;
  width: 433;
  height: 368;
  position: absolute;
}
.co-counsel-feed15111307-image02 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 931px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 7, 151, 1) 0%, rgba(77, 3, 136, 1) 0%, rgba(28, 0, 41, 1) 39%);
}
.co-counsel-feed15111307-svg03 {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-feed15111307-group120415111315 {
  top: 0px;
  left: -10.5px;
  width: 441px;
  height: 849.9988403320312px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-image03 {
  top: 0px;
  left: 10.5px;
  width: 428px;
  height: 830px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 229, 231, 1);
}
.co-counsel-feed15111307-svg04 {
  left: 10.5px;
  width: 428;
  height: 830;
  position: absolute;
}
.co-counsel-feed15111307-svg05 {
  top: 244px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-feed15111307-svg06 {
  top: 425px;
  left: 8.5px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-feed15111307-svg07 {
  top: 548.671875px;
  left: 8.5px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-feed15111307-image04 {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 926px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image05 {
  top: 648px;
  left: 45px;
  width: 343px;
  height: 123px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.6600000262260437);
}
.co-counsel-feed15111307-image06 {
  top: 170px;
  left: 42px;
  width: 343px;
  height: 150px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.6600000262260437);
}
.co-counsel-feed15111307-svg08 {
  top: 647px;
  left: 46px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-feed15111307-group118015111322 {
  top: 664px;
  left: 44px;
  width: 344px;
  height: 439px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-text {
  top: 13px;
  left: 76px;
  color: rgba(223, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text01 {
  color: rgba(223, 0, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text02 {
  top: 13px;
  left: 277px;
  color: rgba(223, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text03 {
  color: rgba(223, 0, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-svg09 {
  left: 1px;
  width: 68;
  height: 68;
  position: absolute;
}
.co-counsel-feed15111307-group117815111326 {
  top: 79px;
  left: 0px;
  width: 344px;
  height: 360px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-image07 {
  top: 0px;
  left: 1px;
  width: 343px;
  height: 261px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 12px;
}
.co-counsel-feed15111307-group117715111328 {
  top: 267px;
  left: 0px;
  width: 344px;
  height: 93px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-image08 {
  top: 0px;
  left: 0px;
  width: 344px;
  height: 50px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(152, 0, 176, 1);
}
.co-counsel-feed15111307-svg10 {
  top: 13px;
  left: 300px;
  width: 23;
  height: 23;
  position: absolute;
}
.co-counsel-feed15111307-image09 {
  top: 50px;
  left: 0px;
  width: 344px;
  height: 43px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 230, 230, 1);
}
.co-counsel-feed15111307-text04 {
  top: 62px;
  left: 52px;
  color: rgba(120, 0, 126, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text05 {
  color: rgba(120, 0, 126, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-image10 {
  top: 58px;
  left: 21px;
  width: 27px;
  height: 25px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image11 {
  top: 60px;
  left: 115px;
  width: 25px;
  height: 23px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image12 {
  top: 60px;
  left: 250px;
  width: 25px;
  height: 23px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-text06 {
  top: 62px;
  left: 144px;
  color: rgba(120, 0, 126, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text07 {
  color: rgba(120, 0, 126, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text08 {
  top: 62px;
  left: 278px;
  color: rgba(120, 0, 126, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text09 {
  color: rgba(120, 0, 126, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text10 {
  top: 14px;
  left: 211px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text12 {
  top: 14px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-svg11 {
  top: 28px;
  left: 320.5px;
  width: 15;
  height: 15;
  position: absolute;
}
.co-counsel-feed15111307-svg12 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-feed15111307-svg13 {
  top: 832px;
  left: -7px;
  width: 439;
  height: 99;
  position: absolute;
}
.co-counsel-feed15111307-svg14 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-feed15111307-image13 {
  top: 840px;
  left: 104px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image14 {
  top: 832px;
  left: 359px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-feed15111307-image15 {
  top: 840px;
  left: 192px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image16 {
  top: 840px;
  left: 280px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image17 {
  top: 840px;
  left: 368px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image18 {
  top: 840px;
  left: 16px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-group117915111350 {
  top: 184px;
  left: 44px;
  width: 344px;
  height: 532px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-text14 {
  top: 13px;
  left: 75px;
  color: rgba(223, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text15 {
  color: rgba(223, 0, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text16 {
  top: 39px;
  left: 75px;
  color: rgba(55, 55, 55, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text17 {
  color: rgba(55, 55, 55, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text18 {
  top: 24px;
  left: 213px;
  color: rgba(237, 117, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text19 {
  color: rgba(237, 117, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text20 {
  top: 518px;
  left: 76px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text22 {
  top: 503px;
  left: 212px;
  color: rgba(237, 117, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text23 {
  color: rgba(237, 117, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-svg15 {
  left: 1px;
  width: 68;
  height: 68;
  position: absolute;
}
.co-counsel-feed15111307-group117815111357 {
  top: 80px;
  left: 0px;
  width: 344px;
  height: 359px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-image19 {
  top: 51px;
  left: 0px;
  width: 344px;
  height: 254px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 15px;
}
.co-counsel-feed15111307-group117715111359 {
  top: 0px;
  left: 0px;
  width: 344px;
  height: 359px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-image20 {
  top: 277.8833312988281px;
  left: 0px;
  width: 344px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(152, 0, 176, 1);
}
.co-counsel-feed15111307-svg16 {
  top: 289.22222900390625px;
  left: 300px;
  width: 23;
  height: 20;
  position: absolute;
}
.co-counsel-feed15111307-image21 {
  top: 321.49444580078125px;
  left: 0px;
  width: 344px;
  height: 38px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 230, 230, 1);
}
.co-counsel-feed15111307-text24 {
  top: 331.96112060546875px;
  left: 52px;
  color: rgba(120, 0, 126, 1);
  width: 26px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text25 {
  color: rgba(120, 0, 126, 1);
  width: 26px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-image22 {
  top: 328.47222900390625px;
  left: 21px;
  width: 27px;
  height: 22px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image23 {
  top: 330.2166748046875px;
  left: 115px;
  width: 25px;
  height: 20px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image24 {
  top: 330.2166748046875px;
  left: 250px;
  width: 25px;
  height: 20px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-text26 {
  top: 331.96112060546875px;
  left: 144px;
  color: rgba(120, 0, 126, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text27 {
  color: rgba(120, 0, 126, 1);
  width: 72px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text28 {
  top: 0px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text29 {
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text30 {
  top: 331.96112060546875px;
  left: 278px;
  color: rgba(120, 0, 126, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text31 {
  color: rgba(120, 0, 126, 1);
  width: 41px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text32 {
  top: 290.0944519042969px;
  left: 211px;
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text33 {
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text34 {
  top: 290.0944519042969px;
  left: 86px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text35 {
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text36 {
  top: 13px;
  left: 277px;
  color: rgba(223, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text37 {
  color: rgba(223, 0, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-svg17 {
  top: 28px;
  left: 320.5px;
  width: 15;
  height: 15;
  position: absolute;
}
.co-counsel-feed15111307-image25 {
  top: 677px;
  left: 2px;
  width: 428px;
  height: 152px;
  opacity: 0.85;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(72, 50, 76, 1) 100%);
}
.co-counsel-feed15111307-image26 {
  top: 49px;
  left: 370px;
  width: 30px;
  height: 32px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-svg18 {
  top: 57px;
  left: 388px;
  width: 10;
  height: 10;
  position: absolute;
}
.co-counsel-feed15111307-image27 {
  top: 45px;
  left: 19px;
  width: 51px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-group118115111387 {
  top: 92px;
  left: 45px;
  width: 362px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-feed15111307-svg19 {
  width: 44;
  height: 44;
  position: absolute;
}
.co-counsel-feed15111307-image28 {
  top: 1px;
  left: 57px;
  width: 255px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(117, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-feed15111307-image29 {
  top: 10px;
  left: 276px;
  width: 25px;
  height: 26px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image30 {
  top: 8px;
  left: 72px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-image31 {
  top: 2px;
  left: 318px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-feed15111307-text38 {
  top: 13px;
  left: 113px;
  color: rgba(142, 130, 144, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-feed15111307-text39 {
  color: rgba(142, 130, 144, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
