.co-counsel-networkinox1517736-container {
  min-height: 100vh;
}
.co-counsel-networkinox1517736-co-counsel-networkinox1517736 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinox1517736-image {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 268px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox1517736-image01 {
  top: -4px;
  left: -31px;
  width: 457px;
  height: 663px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(229, 228, 230, 1);
}
.co-counsel-networkinox1517736-svg {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinox1517736-svg01 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinox1517736-image02 {
  top: 0px;
  left: 0px;
  width: 432px;
  height: 862px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.co-counsel-networkinox1517736-image03 {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 828px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox1517736-image04 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 258px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(104, 3, 152, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox1517736-image05 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 302px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(223, 0, 255, 1) 0%, rgba(28, 0, 41, 1) 37%);
}
.co-counsel-networkinox1517736-group12041517745 {
  top: 0px;
  left: -10.5px;
  width: 441px;
  height: 849.9988403320312px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image06 {
  top: 0px;
  left: 10.5px;
  width: 428px;
  height: 830px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 229, 231, 1);
}
.co-counsel-networkinox1517736-svg02 {
  left: 10.5px;
  width: 428;
  height: 830;
  position: absolute;
}
.co-counsel-networkinox1517736-svg03 {
  top: 244px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinox1517736-svg04 {
  top: 425px;
  left: 8.5px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinox1517736-svg05 {
  top: 548.671875px;
  left: 8.5px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-networkinox1517736-image07 {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 926px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image08 {
  top: 109px;
  left: 42px;
  width: 344px;
  height: 75px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: rgba(205, 158, 251, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
  background-color: rgba(76, 76, 76, 1);
}
.co-counsel-networkinox1517736-svg06 {
  top: 114px;
  left: 54px;
  width: 325;
  height: 61;
  position: absolute;
}
.co-counsel-networkinox1517736-svg07 {
  top: 144px;
  left: 354px;
  width: 13;
  height: 9;
  position: absolute;
}
.co-counsel-networkinox1517736-text {
  top: 126px;
  left: 129px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text01 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text02 {
  top: 149px;
  left: 129px;
  color: rgba(219, 255, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text03 {
  color: rgba(219, 255, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg08 {
  top: 125px;
  left: 65px;
  width: 44;
  height: 44;
  position: absolute;
}
.co-counsel-networkinox1517736-image09 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image10 {
  top: 49px;
  left: 370px;
  width: 30px;
  height: 32px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg09 {
  top: 57px;
  left: 388px;
  width: 10;
  height: 10;
  position: absolute;
}
.co-counsel-networkinox1517736-svg10 {
  top: 761px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinox1517736-text04 {
  top: 780px;
  left: 120px;
  color: rgba(81, 81, 81, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text05 {
  color: rgba(81, 81, 81, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text06 {
  top: 761px;
  left: 120px;
  color: rgba(168, 73, 173, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text07 {
  color: rgba(168, 73, 173, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg11 {
  top: 694px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinox1517736-text08 {
  top: 713px;
  left: 120px;
  color: rgba(81, 81, 81, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text09 {
  color: rgba(81, 81, 81, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text10 {
  top: 694px;
  left: 120px;
  color: rgba(168, 73, 173, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text11 {
  color: rgba(168, 73, 173, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text12 {
  top: 653px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text14 {
  top: 264px;
  left: -14px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text15 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text16 {
  top: 309px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text17 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text18 {
  top: 356px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text19 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text20 {
  top: 402px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text21 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text22 {
  top: 450px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text23 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text24 {
  top: 495px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text25 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text26 {
  top: 541px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text27 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text28 {
  top: 587px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text29 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg12 {
  top: 640px;
  left: 42px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-networkinox1517736-svg13 {
  top: 748px;
  left: 109px;
  width: 276;
  height: 1px;
  position: absolute;
}
.co-counsel-networkinox1517736-text30 {
  top: 50px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text31 {
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text32 {
  top: 872px;
  left: 164px;
  color: var(--dl-color-default-font13478);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text33 {
  color: rgba(247, 247, 247, 1);
  width: 191px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text34 {
  top: 823px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-networkinox1517736-text36 {
  top: 845px;
  left: 164px;
  color: rgba(219, 255, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text37 {
  color: rgba(219, 255, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg14 {
  top: 825px;
  left: 75px;
  width: 68;
  height: 68;
  position: absolute;
}
.co-counsel-networkinox1517736-svg15 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox1517736-svg16 {
  top: 827px;
  left: -7px;
  width: 439;
  height: 104;
  position: absolute;
}
.co-counsel-networkinox1517736-image11 {
  top: 827px;
  left: 358px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-networkinox1517736-svg17 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox1517736-image12 {
  top: 840px;
  left: 104px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image13 {
  top: 840px;
  left: 192px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image14 {
  top: 840px;
  left: 280px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image15 {
  top: 840px;
  left: 368px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image16 {
  top: 840px;
  left: 16px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox1517736-text38 {
  top: 364px;
  left: 297px;
  color: rgba(74, 74, 74, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text39 {
  color: rgba(74, 74, 74, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text40 {
  top: 271px;
  left: 297px;
  color: rgba(74, 74, 74, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text41 {
  color: rgba(74, 74, 74, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg18 {
  top: 355px;
  left: 660px;
  width: 4;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox1517736-text42 {
  top: 348px;
  left: 423px;
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text43 {
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg19 {
  top: 293px;
  left: 614px;
  width: 54;
  height: 54;
  position: absolute;
}
.co-counsel-networkinox1517736-text44 {
  top: 313px;
  left: 427px;
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text45 {
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg20 {
  top: 352px;
  left: 639px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox1517736-svg21 {
  top: 352px;
  left: 625px;
  width: 14;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox1517736-svg22 {
  top: 352px;
  left: 612px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox1517736-svg23 {
  top: 352px;
  left: 655px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox1517736-svg24 {
  top: 294px;
  left: 675px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox1517736-svg25 {
  top: 345px;
  left: 429px;
  width: 164;
  height: 0;
  position: absolute;
}
.co-counsel-networkinox1517736-group11831517803 {
  top: 199px;
  left: 44px;
  width: 341px;
  height: 37px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image17 {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 37px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(180, 105, 255, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(121, 0, 139, 1) 100%);
}
.co-counsel-networkinox1517736-svg26 {
  top: 6px;
  left: 12px;
  width: 322;
  height: 24;
  position: absolute;
}
.co-counsel-networkinox1517736-svg27 {
  top: 264px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg28 {
  top: 309px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg29 {
  top: 354px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg30 {
  top: 398px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg31 {
  top: 445px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg32 {
  top: 493px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg33 {
  top: 539px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg34 {
  top: 582px;
  left: 41px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-text46 {
  top: 206px;
  left: 172px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-group11611517815 {
  top: 207px;
  left: 133px;
  width: 19px;
  height: 19px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg35 {
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-networkinox1517736-svg36 {
  top: 5.0666656494140625px;
  left: 5.066976070404053px;
  width: 9;
  height: 9;
  position: absolute;
}
.co-counsel-networkinox1517736-svg37 {
  top: 272px;
  left: 49px;
  width: 13;
  height: 14;
  position: absolute;
}
.co-counsel-networkinox1517736-group11921517819 {
  top: 316px;
  left: 48px;
  width: 15px;
  height: 17.4134464263916px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg38 {
  width: 15;
  height: 17;
  position: absolute;
}
.co-counsel-networkinox1517736-svg39 {
  top: 3.8970420360565186px;
  left: 4.827291488647461px;
  width: 6;
  height: 6;
  position: absolute;
}
.co-counsel-networkinox1517736-group11851517822 {
  top: 361px;
  left: 47px;
  width: 19px;
  height: 17.366260528564453px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg40 {
  top: 1.3496140241622925px;
  left: 5.00008487701416px;
  width: 14;
  height: 16;
  position: absolute;
}
.co-counsel-networkinox1517736-svg41 {
  top: 3.3516926765441895px;
  left: 7.33313512802124px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox1517736-svg42 {
  width: 7;
  height: 10;
  position: absolute;
}
.co-counsel-networkinox1517736-group11861517826 {
  top: 405px;
  left: 48px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image18 {
  top: 0px;
  left: 11.052677154541016px;
  width: 4px;
  height: 15px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.co-counsel-networkinox1517736-image19 {
  top: 4.166672706604004px;
  left: 5.5263671875px;
  width: 4px;
  height: 11px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.co-counsel-networkinox1517736-image20 {
  top: 10.000008583068848px;
  left: 0px;
  width: 4px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.co-counsel-networkinox1517736-svg43 {
  top: 453px;
  left: 50px;
  width: 12;
  height: 18;
  position: absolute;
}
.co-counsel-networkinox1517736-svg44 {
  top: 501px;
  left: 51px;
  width: 10;
  height: 14;
  position: absolute;
}
.co-counsel-networkinox1517736-group11901517832 {
  top: 548px;
  left: 48px;
  width: 16px;
  height: 13px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-image21 {
  top: 2.2413792610168457px;
  left: 0px;
  width: 12px;
  height: 11px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.co-counsel-networkinox1517736-svg45 {
  left: 4.102564334869385px;
  width: 12;
  height: 10;
  position: absolute;
}
.co-counsel-networkinox1517736-group11911517835 {
  top: 588px;
  left: 47px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg46 {
  width: 18;
  height: 18;
  position: absolute;
}
.co-counsel-networkinox1517736-svg47 {
  top: 4px;
  left: 9px;
  width: 3;
  height: 8;
  position: absolute;
}
.co-counsel-networkinox1517736-image22 {
  top: -220px;
  left: -8px;
  width: 439px;
  height: 1045px;
  opacity: 0.85;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(91, 39, 99, 1) 40%);
}
.co-counsel-networkinox1517736-group12051517839 {
  top: 639px;
  left: -8px;
  width: 436px;
  height: 188.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg48 {
  left: 5.5px;
  width: 431;
  height: 189;
  position: absolute;
}
.co-counsel-networkinox1517736-text48 {
  top: 58px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text49 {
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text50 {
  top: 98px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text51 {
  color: rgba(0, 0, 0, 1);
  width: 332px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text52 {
  top: 38px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text53 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg49 {
  top: 37px;
  left: 46px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-text54 {
  top: 80px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text55 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text56 {
  top: 121px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-text57 {
  color: rgba(0, 0, 0, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox1517736-svg50 {
  top: 76px;
  left: 46px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg51 {
  top: 118px;
  left: 46px;
  width: 30;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox1517736-svg52 {
  top: 11px;
  left: 191px;
  width: 57;
  height: 7;
  position: absolute;
}
.co-counsel-networkinox1517736-group11931517850 {
  top: 44px;
  left: 53px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox1517736-svg53 {
  width: 16;
  height: 16;
  position: absolute;
}
.co-counsel-networkinox1517736-svg54 {
  top: 4px;
  left: 8px;
  width: 0;
  height: 8;
  position: absolute;
}
.co-counsel-networkinox1517736-svg55 {
  top: 88px;
  left: 56px;
  width: 11;
  height: 0;
  position: absolute;
}
.co-counsel-networkinox1517736-svg56 {
  top: 94px;
  left: 66.5px;
  width: 11;
  height: 0;
  position: absolute;
}
.co-counsel-networkinox1517736-image23 {
  top: 131.5px;
  left: 54px;
  width: 3px;
  height: 6px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinox1517736-svg57 {
  top: 127px;
  left: 58px;
  width: 13;
  height: 11;
  position: absolute;
}
