.co-counsel-networkinox227984-container {
  min-height: 100vh;
}
.co-counsel-networkinox227984-co-counsel-networkinox227984 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinox227984-image {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 268px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox227984-image01 {
  top: -4px;
  left: -31px;
  width: 457px;
  height: 663px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(229, 228, 230, 1);
}
.co-counsel-networkinox227984-svg {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinox227984-svg01 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinox227984-image02 {
  top: 0px;
  left: 0px;
  width: 432px;
  height: 862px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.co-counsel-networkinox227984-image03 {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 828px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox227984-image04 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 253px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(104, 3, 152, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinox227984-image05 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg02 {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinox227984-svg03 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinox227984-svg04 {
  top: 544.6728515625px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-networkinox227984-image06 {
  top: 0px;
  left: 0px;
  width: 427px;
  height: 926px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text {
  top: 872px;
  left: 164px;
  color: var(--dl-color-default-font13478);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text01 {
  color: rgba(247, 247, 247, 1);
  width: 191px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text02 {
  top: 823px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-networkinox227984-text04 {
  top: 845px;
  left: 164px;
  color: rgba(219, 255, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text05 {
  color: rgba(219, 255, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-svg05 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox227984-svg06 {
  top: 827px;
  left: -7px;
  width: 439;
  height: 104;
  position: absolute;
}
.co-counsel-networkinox227984-image07 {
  top: 827px;
  left: 358px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-networkinox227984-svg07 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox227984-image08 {
  top: 840px;
  left: 104px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image09 {
  top: 840px;
  left: 192px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image10 {
  top: 840px;
  left: 280px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image11 {
  top: 840px;
  left: 368px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image12 {
  top: 840px;
  left: 16px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg08 {
  top: 355px;
  left: 660px;
  width: 4;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox227984-text06 {
  top: 348px;
  left: 423px;
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text07 {
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-svg09 {
  top: 293px;
  left: 614px;
  width: 54;
  height: 54;
  position: absolute;
}
.co-counsel-networkinox227984-text08 {
  top: 313px;
  left: 427px;
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text09 {
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-svg10 {
  top: 352px;
  left: 639px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox227984-svg11 {
  top: 352px;
  left: 625px;
  width: 14;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox227984-svg12 {
  top: 352px;
  left: 612px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox227984-svg13 {
  top: 352px;
  left: 655px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox227984-svg14 {
  top: 294px;
  left: 675px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-svg15 {
  top: 345px;
  left: 429px;
  width: 164;
  height: 0;
  position: absolute;
}
.co-counsel-networkinox227984-group12312271018 {
  top: 92px;
  left: 43px;
  width: 342px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image13 {
  top: 0px;
  left: 0px;
  width: 342px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(130, 79, 139, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinox227984-text10 {
  top: 13px;
  left: 59px;
  color: rgba(209, 187, 213, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text11 {
  color: rgba(209, 187, 213, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-image14 {
  top: 7px;
  left: 12px;
  width: 35px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text12 {
  top: 239px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text13 {
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-svg16 {
  top: 355.0000305175781px;
  left: 43px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-networkinox227984-image15 {
  top: 308px;
  left: 39px;
  width: 348px;
  height: 84px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image16 {
  top: 400px;
  left: 39px;
  width: 348px;
  height: 84px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-group1302483871 {
  top: 494px;
  left: 39px;
  width: 349px;
  height: 274px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg17 {
  width: 348;
  height: 84;
  position: absolute;
}
.co-counsel-networkinox227984-svg18 {
  top: 7px;
  left: 10px;
  width: 328;
  height: 48;
  position: absolute;
}
.co-counsel-networkinox227984-group1301483874 {
  top: 94px;
  left: 1px;
  width: 348px;
  height: 180px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg19 {
  width: 348;
  height: 84;
  position: absolute;
}
.co-counsel-networkinox227984-svg20 {
  top: 7px;
  left: 10px;
  width: 328;
  height: 48;
  position: absolute;
}
.co-counsel-networkinox227984-image17 {
  top: 96px;
  left: 0px;
  width: 348px;
  height: 84px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text14 {
  top: 336px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text15 {
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-frame277862 {
  top: 329px;
  left: 72px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group277863 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg21 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-group277865 {
  top: 11px;
  left: 8px;
  width: 24px;
  height: 20.24347686767578px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image18 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 20px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-frame279880 {
  top: 421px;
  left: 72px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group279881 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg22 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-group279883 {
  top: 9px;
  left: 7px;
  width: 27px;
  height: 22.499664306640625px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image19 {
  top: 0px;
  left: 1.1774611473083496px;
  width: 25px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg23 {
  top: 11.802862167358398px;
  left: 5.707571983337402px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-svg24 {
  top: 8.955352783203125px;
  left: 17.642635345458984px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-svg25 {
  top: 8.641234397888184px;
  width: 4;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-svg26 {
  top: 3.6942129135131836px;
  left: 20.758604049682617px;
  width: 4;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-svg27 {
  top: 18.436376571655273px;
  left: 9.160377502441406px;
  width: 15;
  height: 4;
  position: absolute;
}
.co-counsel-networkinox227984-frame279894 {
  top: 517px;
  left: 71px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group279895 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg28 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-group279897 {
  top: 8px;
  left: 10px;
  width: 22px;
  height: 20.933834075927734px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image20 {
  top: 0px;
  left: 0.38615870475769043px;
  width: 21px;
  height: 21px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg29 {
  top: 17.660573959350586px;
  width: 13;
  height: 3;
  position: absolute;
}
.co-counsel-networkinox227984-frame281904 {
  top: -267px;
  left: -267px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group281905 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg30 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-image21 {
  top: 10.139371871948242px;
  left: 7.317073345184326px;
  width: 25px;
  height: 20px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-frame282910 {
  top: 610px;
  left: 69px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group282911 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg31 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-image22 {
  top: 11px;
  left: 9px;
  width: 22px;
  height: 18px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-frame282916 {
  top: 706px;
  left: 69px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group282917 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg32 {
  width: 40;
  height: 40;
  position: absolute;
}
.co-counsel-networkinox227984-group282919 {
  top: 7px;
  left: 9px;
  width: 22px;
  height: 23.195152282714844px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg33 {
  left: 5.815405368804932px;
  width: 10;
  height: 10;
  position: absolute;
}
.co-counsel-networkinox227984-image23 {
  top: 9.558146476745605px;
  left: 0px;
  width: 22px;
  height: 14px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image24 {
  top: 366px;
  left: 378px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text16 {
  top: 522px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text17 {
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-image25 {
  top: 550px;
  left: 378px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text18 {
  top: 428px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text19 {
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-image26 {
  top: 457px;
  left: 378px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text20 {
  top: 617px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text21 {
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-image27 {
  top: 646px;
  left: 378px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-text22 {
  top: 713px;
  left: 122px;
  color: rgba(255, 255, 255, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text23 {
  color: rgba(255, 255, 255, 1);
  width: 275px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-image28 {
  top: 744px;
  left: 378px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image29 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg34 {
  top: 218px;
  left: 42px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-networkinox227984-group1303487880 {
  top: 154px;
  left: 217px;
  width: 168px;
  height: 37px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image30 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 37px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 23%, rgba(122, 17, 226, 1) 100%);
}
.co-counsel-networkinox227984-frame282934 {
  top: 11px;
  left: 10px;
  width: 23px;
  height: 15px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.co-counsel-networkinox227984-group282935 {
  top: 0px;
  left: 0.0032679028809070587px;
  width: 23px;
  height: 15px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image31 {
  top: 0px;
  left: 5.5733771324157715px;
  width: 12px;
  height: 15px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image32 {
  top: 2.186234712600708px;
  left: 0px;
  width: 8px;
  height: 11px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-image33 {
  top: 2.186234712600708px;
  left: 15.477156639099121px;
  width: 8px;
  height: 11px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg35 {
  top: 2.15118408203125px;
  left: 5.798828125px;
  width: 158;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox227984-text24 {
  top: 8px;
  left: 59px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-group1304487881 {
  top: 154px;
  left: 42px;
  width: 168px;
  height: 37px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-image34 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 37px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 25%, rgba(122, 17, 226, 1) 100%);
}
.co-counsel-networkinox227984-svg36 {
  top: 2.15118408203125px;
  left: 5.798828125px;
  width: 158;
  height: 30;
  position: absolute;
}
.co-counsel-networkinox227984-text26 {
  top: 8px;
  left: 47px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinox227984-group1244282933 {
  top: 12px;
  left: 10px;
  width: 16px;
  height: 13px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinox227984-svg37 {
  top: 1px;
  left: 4.5px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-networkinox227984-svg38 {
  top: 2px;
  width: 2;
  height: 2;
  position: absolute;
}
.co-counsel-networkinox227984-svg39 {
  top: 7px;
  width: 2;
  height: 2;
  position: absolute;
}
.co-counsel-networkinox227984-svg40 {
  top: 13px;
  width: 2;
  height: 2;
  position: absolute;
}
