.co-counsel-network-listing261948-container {
  min-height: 100vh;
}
.co-counsel-network-listing261948-co-counsel-network-listing261948 {
  width: 428px;
  height: 1386px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-network-listing261948-image {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 268px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-network-listing261948-image01 {
  top: -90px;
  left: -31px;
  width: 457px;
  height: 663px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(229, 228, 230, 1);
}
.co-counsel-network-listing261948-svg {
  top: 154px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-network-listing261948-svg01 {
  top: 335px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-network-listing261948-image02 {
  top: -86px;
  left: 0px;
  width: 432px;
  height: 862px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.co-counsel-network-listing261948-image03 {
  top: -87px;
  left: 0px;
  width: 428px;
  height: 828px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-network-listing261948-image04 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 253px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(104, 3, 152, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-network-listing261948-image05 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg02 {
  top: 154px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-network-listing261948-svg03 {
  top: 335px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-network-listing261948-svg04 {
  top: 458.6728515625px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-network-listing261948-image06 {
  top: 355px;
  left: 0px;
  width: 432px;
  height: 930px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-group1239261961 {
  top: -40px;
  left: -20px;
  width: 455px;
  height: 679px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image07 {
  top: 0px;
  left: 0px;
  width: 455px;
  height: 475px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg05 {
  top: 391px;
  left: 59px;
  width: 348;
  height: 288;
  position: absolute;
}
.co-counsel-network-listing261948-group1232261964 {
  top: 549px;
  left: 154px;
  width: 38px;
  height: 37.74193572998047px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg06 {
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-network-listing261948-image08 {
  top: 16.983871459960938px;
  left: 10.064516067504883px;
  width: 4px;
  height: 8px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-network-listing261948-svg07 {
  top: 11.32258129119873px;
  left: 15.096774101257324px;
  width: 16;
  height: 13;
  position: absolute;
}
.co-counsel-network-listing261948-image09 {
  top: 659px;
  left: 39px;
  width: 348px;
  height: 591px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgba(104, 0, 120, 1) 0%, rgba(43, 43, 43, 1) 100%);
}
.co-counsel-network-listing261948-svg08 {
  top: 668px;
  left: 48px;
  width: 328;
  height: 133;
  position: absolute;
}
.co-counsel-network-listing261948-text {
  top: 377px;
  left: 60px;
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text01 {
  color: rgba(255, 255, 255, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text02 {
  top: 403px;
  left: 60px;
  color: rgba(219, 255, 0, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text03 {
  color: rgba(219, 255, 0, 1);
  width: 71px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text04 {
  top: 406px;
  left: 125px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text05 {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text06 {
  top: 716px;
  left: 144px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text07 {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text08 {
  top: 739px;
  left: 257px;
  color: rgba(199, 199, 199, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text09 {
  color: rgba(199, 199, 199, 1);
  width: 150px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text10 {
  top: 788px;
  left: 103px;
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text11 {
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text12 {
  top: 824px;
  left: 102px;
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text13 {
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text14 {
  top: 1058px;
  left: 70px;
  color: rgba(255, 255, 255, 1);
  width: 283px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text15 {
  color: rgba(255, 255, 255, 1);
  width: 283px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text16 {
  top: 1003px;
  left: 259px;
  color: rgba(219, 255, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text17 {
  color: rgba(219, 255, 0, 1);
  width: 131px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-network-listing261948-text18 {
  top: 681px;
  left: 70px;
  color: rgba(226, 191, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text19 {
  color: rgba(226, 191, 255, 1);
  width: 178px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text20 {
  top: 589px;
  left: 237px;
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text21 {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text22 {
  top: 589px;
  left: 41px;
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text23 {
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text24 {
  top: 589px;
  left: 125px;
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text25 {
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text26 {
  top: 589px;
  left: 257px;
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text27 {
  color: rgba(234, 90, 255, 1);
  width: 100px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-group1233261984 {
  top: 548px;
  left: 237px;
  width: 38px;
  height: 37.74193572998047px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg09 {
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-network-listing261948-svg10 {
  top: 10.064516067504883px;
  left: 12.580645561218262px;
  width: 13;
  height: 18;
  position: absolute;
}
.co-counsel-network-listing261948-svg11 {
  top: 13.209677696228027px;
  left: 8.806451797485352px;
  width: 14;
  height: 0;
  position: absolute;
}
.co-counsel-network-listing261948-group1234261988 {
  top: 548px;
  left: 321px;
  width: 38px;
  height: 37.74193572998047px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg12 {
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-network-listing261948-svg13 {
  top: 8.806451797485352px;
  left: 11.322580337524414px;
  width: 19;
  height: 18;
  position: absolute;
}
.co-counsel-network-listing261948-text28 {
  top: 1327px;
  left: 164px;
  color: var(--dl-color-default-font13478);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text29 {
  color: rgba(247, 247, 247, 1);
  width: 191px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text30 {
  top: 1278px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-network-listing261948-text32 {
  top: 1300px;
  left: 164px;
  color: rgba(219, 255, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text33 {
  color: rgba(219, 255, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-svg14 {
  top: 1357px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-network-listing261948-svg15 {
  top: 1282px;
  left: -7px;
  width: 439;
  height: 104;
  position: absolute;
}
.co-counsel-network-listing261948-image10 {
  top: 1282px;
  left: 358px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-network-listing261948-svg16 {
  top: 1357px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-network-listing261948-image11 {
  top: 1295px;
  left: 104px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-image12 {
  top: 1295px;
  left: 192px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-image13 {
  top: 1295px;
  left: 280px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-image14 {
  top: 1295px;
  left: 368px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-image15 {
  top: 1295px;
  left: 16px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg17 {
  top: 355px;
  left: 660px;
  width: 4;
  height: 4;
  position: absolute;
}
.co-counsel-network-listing261948-text34 {
  top: 348px;
  left: 423px;
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text35 {
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-svg18 {
  top: 293px;
  left: 614px;
  width: 54;
  height: 54;
  position: absolute;
}
.co-counsel-network-listing261948-text36 {
  top: 313px;
  left: 427px;
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text37 {
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-svg19 {
  top: 352px;
  left: 639px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-network-listing261948-svg20 {
  top: 352px;
  left: 625px;
  width: 14;
  height: 11;
  position: absolute;
}
.co-counsel-network-listing261948-svg21 {
  top: 352px;
  left: 612px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-network-listing261948-svg22 {
  top: 352px;
  left: 655px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-network-listing261948-svg23 {
  top: 294px;
  left: 675px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-network-listing261948-svg24 {
  top: 345px;
  left: 429px;
  width: 164;
  height: 0;
  position: absolute;
}
.co-counsel-network-listing261948-svg25 {
  top: 47px;
  left: 26px;
  width: 36;
  height: 36;
  position: absolute;
}
.co-counsel-network-listing261948-svg26 {
  top: 47px;
  left: 368px;
  width: 36;
  height: 36;
  position: absolute;
}
.co-counsel-network-listing261948-text38 {
  top: 45px;
  left: 377px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text39 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-group12312611016 {
  top: 442px;
  left: 41px;
  width: 345px;
  height: 91px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image16 {
  top: 0px;
  left: 0px;
  width: 345px;
  height: 91px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(54, 55, 47, 1);
}
.co-counsel-network-listing261948-image17 {
  top: 13px;
  left: 16px;
  width: 29px;
  height: 26px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-group12362611019 {
  top: 486px;
  left: 57px;
  width: 239px;
  height: 29px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image18 {
  top: 0px;
  left: 0px;
  width: 239px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(187, 187, 187, 1);
}
.co-counsel-network-listing261948-group12372611021 {
  top: 486px;
  left: 309px;
  width: 60px;
  height: 29px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image19 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-image: linear-gradient(184deg, rgba(219, 255, 0, 1) 24%, rgba(158, 184, 0, 0) 100%);
}
.co-counsel-network-listing261948-image20 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg27 {
  top: 301px;
  left: 154px;
  width: 12;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-svg28 {
  top: 301px;
  left: 185px;
  width: 12;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-svg29 {
  top: 359px;
  left: 49px;
  width: 328;
  height: 133;
  position: absolute;
}
.co-counsel-network-listing261948-svg30 {
  top: 301px;
  left: 216px;
  width: 12;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-svg31 {
  top: 301px;
  left: 247px;
  width: 12;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-svg32 {
  top: 301px;
  left: 278px;
  width: 12;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-group12352611030 {
  top: 549px;
  left: 71px;
  width: 38px;
  height: 37.74193572998047px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg33 {
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-network-listing261948-image21 {
  top: 8.806451797485352px;
  left: 10.064516067504883px;
  width: 18px;
  height: 19px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-text40 {
  top: 457px;
  left: 93px;
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text41 {
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text42 {
  top: 490px;
  left: 77px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text43 {
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text44 {
  top: 492px;
  left: 219px;
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text45 {
  color: rgba(0, 0, 0, 1);
  width: 242px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-group12412611036 {
  top: 685px;
  left: 75px;
  width: 294px;
  height: 527px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-group12382611037 {
  top: 0px;
  left: 234px;
  width: 60px;
  height: 29px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image22 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(137, 0, 202, 1) 100%);
}
.co-counsel-network-listing261948-group12392611039 {
  top: 498px;
  left: 0px;
  width: 288px;
  height: 29px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-image23 {
  top: 0px;
  left: 0px;
  width: 288px;
  height: 29px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(137, 0, 202, 1) 100%);
}
.co-counsel-network-listing261948-text46 {
  top: 6px;
  left: 42px;
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text47 {
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-svg34 {
  top: 719px;
  left: 71px;
  width: 52;
  height: 52;
  position: absolute;
}
.co-counsel-network-listing261948-svg35 {
  top: 740px;
  left: 141px;
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-network-listing261948-svg36 {
  top: 740px;
  left: 185px;
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-network-listing261948-svg37 {
  top: 740px;
  left: 163px;
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-network-listing261948-svg38 {
  top: 740px;
  left: 208px;
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-network-listing261948-svg39 {
  top: 740px;
  left: 231px;
  width: 19;
  height: 19;
  position: absolute;
}
.co-counsel-network-listing261948-group12422611048 {
  top: 784px;
  left: 70px;
  width: 20px;
  height: 27.5px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg40 {
  top: 16px;
  left: 3.5px;
  width: 13;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-svg41 {
  width: 20;
  height: 20;
  position: absolute;
}
.co-counsel-network-listing261948-svg42 {
  top: 4px;
  left: 4px;
  width: 13;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-group12402611052 {
  top: 820px;
  left: 68px;
  width: 24px;
  height: 26px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg43 {
  top: 7.583333492279053px;
  left: 6.857142925262451px;
  width: 11;
  height: 12;
  position: absolute;
}
.co-counsel-network-listing261948-image24 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 26px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-listing261948-svg44 {
  top: 858px;
  left: 70px;
  width: 288;
  height: 95;
  position: absolute;
}
.co-counsel-network-listing261948-text48 {
  top: 961px;
  left: 70px;
  color: rgba(193, 115, 255, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text49 {
  color: rgba(193, 115, 255, 1);
  width: 197px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text50 {
  top: 1029px;
  left: 70px;
  color: rgba(226, 191, 255, 1);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text51 {
  color: rgba(226, 191, 255, 1);
  width: 162px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text52 {
  top: 1188px;
  left: 97px;
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text53 {
  color: rgba(255, 255, 255, 1);
  width: 230px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text54 {
  top: 984px;
  left: 70px;
  color: rgba(210, 210, 210, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-text55 {
  color: rgba(210, 210, 210, 1);
  width: 197px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-listing261948-svg45 {
  top: 303px;
  left: 218px;
  width: 8;
  height: 8;
  position: absolute;
}
