.co-counsel-network-profile1517009-container {
  min-height: 100vh;
}
.co-counsel-network-profile1517009-co-counsel-network-profile1517009 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-network-profile1517009-image {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 268px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-network-profile1517009-image01 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 317px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(104, 3, 152, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-network-profile1517009-image02 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 302px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(223, 0, 255, 1) 0%, rgba(28, 0, 41, 1) 37%);
}
.co-counsel-network-profile1517009-group12041517013 {
  top: 0px;
  left: -10.5px;
  width: 441px;
  height: 849.9988403320312px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image03 {
  top: 0px;
  left: 10.5px;
  width: 428px;
  height: 830px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(230, 229, 231, 1);
}
.co-counsel-network-profile1517009-svg {
  left: 10.5px;
  width: 428;
  height: 830;
  position: absolute;
}
.co-counsel-network-profile1517009-svg01 {
  top: 244px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-network-profile1517009-svg02 {
  top: 425px;
  left: 8.5px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-network-profile1517009-svg03 {
  top: 548.671875px;
  left: 8.5px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-network-profile1517009-group11811517019 {
  top: 92px;
  left: 45px;
  width: 362px;
  height: 46px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-network-profile1517009-svg04 {
  width: 44;
  height: 44;
  position: absolute;
}
.co-counsel-network-profile1517009-image04 {
  top: 1px;
  left: 57px;
  width: 255px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(117, 112, 112, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-network-profile1517009-image05 {
  top: 10px;
  left: 276px;
  width: 25px;
  height: 26px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image06 {
  top: 8px;
  left: 72px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image07 {
  top: 2px;
  left: 318px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-text {
  top: 13px;
  left: 113px;
  color: rgba(142, 130, 144, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text01 {
  color: rgba(142, 130, 144, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-image08 {
  top: 165px;
  left: 0px;
  width: 428px;
  height: 687px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 24px;
  background-image: linear-gradient(180deg, rgba(140, 140, 140, 1) 0%, rgba(10, 1, 15, 1) 31%, rgba(9, 8, 10, 1) 100%);
}
.co-counsel-network-profile1517009-text02 {
  top: 424px;
  left: 166px;
  color: rgba(237, 117, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text03 {
  color: rgba(237, 117, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-svg05 {
  top: 177px;
  left: 28px;
  width: 387;
  height: 184;
  position: absolute;
}
.co-counsel-network-profile1517009-svg06 {
  top: 177px;
  left: 372px;
  width: 32;
  height: 32;
  position: absolute;
}
.co-counsel-network-profile1517009-text04 {
  top: 504px;
  left: 283px;
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text05 {
  color: rgba(255, 255, 255, 1);
  width: 199px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text13 {
  top: 506px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text14 {
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text15 {
  top: 535px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text16 {
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text17 {
  top: 562px;
  left: 77px;
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text18 {
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-svg07 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-network-profile1517009-svg08 {
  top: 827px;
  left: -18px;
  width: 461;
  height: 104;
  position: absolute;
}
.co-counsel-network-profile1517009-svg09 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-network-profile1517009-image09 {
  top: 840px;
  left: 104px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image10 {
  top: 840px;
  left: 192px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image11 {
  top: 827px;
  left: 358px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-network-profile1517009-image12 {
  top: 840px;
  left: 280px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image13 {
  top: 840px;
  left: 368px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image14 {
  top: 840px;
  left: 16px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-svg10 {
  top: 355px;
  left: 660px;
  width: 4;
  height: 4;
  position: absolute;
}
.co-counsel-network-profile1517009-text19 {
  top: 296px;
  left: 423px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text20 {
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text21 {
  top: 348px;
  left: 423px;
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text22 {
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-svg11 {
  top: 293px;
  left: 614px;
  width: 54;
  height: 54;
  position: absolute;
}
.co-counsel-network-profile1517009-svg12 {
  top: 352px;
  left: 639px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-network-profile1517009-svg13 {
  top: 352px;
  left: 625px;
  width: 14;
  height: 11;
  position: absolute;
}
.co-counsel-network-profile1517009-svg14 {
  top: 352px;
  left: 612px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-network-profile1517009-svg15 {
  top: 352px;
  left: 655px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-network-profile1517009-svg16 {
  top: 294px;
  left: 675px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-network-profile1517009-image15 {
  top: 49px;
  left: 370px;
  width: 30px;
  height: 32px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-svg17 {
  top: 57px;
  left: 388px;
  width: 10;
  height: 10;
  position: absolute;
}
.co-counsel-network-profile1517009-image16 {
  top: 45px;
  left: 19px;
  width: 51px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image17 {
  top: 631px;
  left: 41px;
  width: 347px;
  height: 136px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  background-color: rgba(112, 3, 151, 1);
}
.co-counsel-network-profile1517009-svg18 {
  top: 604px;
  left: 46px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-network-profile1517009-svg19 {
  top: 478px;
  left: 46px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-network-profile1517009-svg20 {
  top: 638px;
  left: 51px;
  width: 329;
  height: 113;
  position: absolute;
}
.co-counsel-network-profile1517009-text23 {
  top: 683px;
  left: 93px;
  color: var(--dl-color-default-font13478);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text24 {
  color: rgba(247, 247, 247, 1);
  width: 250px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text25 {
  top: 703px;
  left: 93px;
  color: var(--dl-color-default-font13478);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text26 {
  color: rgba(247, 247, 247, 1);
  width: 250px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text27 {
  top: 723px;
  left: 93px;
  color: var(--dl-color-default-font13478);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text28 {
  color: rgba(247, 247, 247, 1);
  width: 250px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text29 {
  top: 650px;
  left: 68px;
  color: rgba(254, 250, 255, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text30 {
  color: rgba(254, 250, 255, 1);
  width: 261px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text31 {
  top: 332px;
  left: 41px;
  color: rgba(219, 255, 0, 1);
  width: 344px;
  height: auto;
  position: absolute;
  font-size: 29px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text32 {
  color: rgba(219, 255, 0, 1);
  width: 344px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-svg21 {
  top: 205px;
  left: 158px;
  width: 120;
  height: 120;
  position: absolute;
}
.co-counsel-network-profile1517009-image18 {
  top: 195px;
  left: 309px;
  width: 36px;
  height: 28px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image19 {
  top: 502px;
  left: 253px;
  width: 22px;
  height: 25px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image20 {
  top: 501px;
  left: 47px;
  width: 22px;
  height: 25px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image21 {
  top: 531px;
  left: 47px;
  width: 22px;
  height: 25px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-text33 {
  top: 376px;
  left: 42px;
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text34 {
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-network-profile1517009-text35 {
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text36 {
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text40 {
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-text41 {
  color: rgba(244, 231, 255, 1);
  width: 340px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-network-profile1517009-image22 {
  top: 559px;
  left: 47px;
  width: 22px;
  height: 25px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-network-profile1517009-image23 {
  top: 195px;
  left: 361px;
  width: 32px;
  height: 28px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
