.co-counsel-networkinbox1517444-container {
  min-height: 100vh;
}
.co-counsel-networkinbox1517444-co-counsel-networkinbox1517444 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinbox1517444-image {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 268px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinbox1517444-image01 {
  top: -4px;
  left: -31px;
  width: 457px;
  height: 663px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(229, 228, 230, 1);
}
.co-counsel-networkinbox1517444-svg {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg01 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinbox1517444-image02 {
  top: 0px;
  left: 0px;
  width: 432px;
  height: 862px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.co-counsel-networkinbox1517444-image03 {
  top: -1px;
  left: 0px;
  width: 428px;
  height: 828px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(105, 62, 126, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinbox1517444-image04 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 254px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(104, 3, 152, 1) 0%, rgba(0, 0, 0, 1) 54%);
}
.co-counsel-networkinbox1517444-image05 {
  top: -5px;
  left: 0px;
  width: 428px;
  height: 302px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(223, 0, 255, 1) 0%, rgba(223, 0, 255, 1) 0%, rgba(28, 0, 41, 1) 37%);
}
.co-counsel-networkinbox1517444-svg02 {
  top: 240px;
  left: -8.5px;
  width: 441;
  height: 569;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg03 {
  top: 421px;
  width: 430;
  height: 419;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg04 {
  top: 544.6728515625px;
  width: 433;
  height: 301;
  position: absolute;
}
.co-counsel-networkinbox1517444-image06 {
  top: -1px;
  left: 0px;
  width: 430px;
  height: 927px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image07 {
  top: 265px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(172, 0, 197, 1);
}
.co-counsel-networkinbox1517444-image08 {
  top: 50px;
  left: 27px;
  width: 32px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-svg05 {
  top: 271px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg06 {
  top: 278px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text {
  top: 297px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text01 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image09 {
  top: 190px;
  left: 43px;
  width: 342px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(130, 79, 139, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinbox1517444-image10 {
  top: 144px;
  left: 42px;
  width: 45px;
  height: 23px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 1);
}
.co-counsel-networkinbox1517444-text02 {
  top: 203px;
  left: 102px;
  color: rgba(195, 162, 201, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text03 {
  color: rgba(195, 162, 201, 1);
  width: 246px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg07 {
  top: 249px;
  left: 42px;
  width: 343;
  height: 1px;
  position: absolute;
}
.co-counsel-networkinbox1517444-image11 {
  top: 197px;
  left: 55px;
  width: 35px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-text04 {
  top: 278px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text05 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text06 {
  top: 143px;
  left: 54px;
  color: rgba(237, 118, 255, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text07 {
  color: rgba(237, 118, 255, 1);
  width: 107px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text08 {
  top: 139px;
  left: 216px;
  color: rgba(237, 118, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text09 {
  color: rgba(237, 118, 255, 1);
  width: 148px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text10 {
  top: 139px;
  left: 239px;
  color: rgba(237, 118, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text11 {
  color: rgba(237, 118, 255, 1);
  width: 148px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: right;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text12 {
  top: 89px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text13 {
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text14 {
  top: 872px;
  left: 164px;
  color: var(--dl-color-default-font13478);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text15 {
  color: rgba(247, 247, 247, 1);
  width: 191px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 300;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text16 {
  top: 823px;
  left: 163px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: underline;
}
.co-counsel-networkinbox1517444-text18 {
  top: 845px;
  left: 164px;
  color: rgba(219, 255, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text19 {
  color: rgba(219, 255, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg08 {
  top: 825px;
  left: 75px;
  width: 68;
  height: 68;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg09 {
  top: 902px;
  left: 139px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinbox1517444-image12 {
  top: 827px;
  left: 358px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
.co-counsel-networkinbox1517444-text20 {
  top: 282px;
  left: 323px;
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text21 {
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image13 {
  top: 339px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(112, 3, 151, 1);
}
.co-counsel-networkinbox1517444-svg10 {
  top: 345px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg11 {
  top: 352px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text22 {
  top: 371px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text23 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text24 {
  top: 352px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text25 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg12 {
  top: 278px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text26 {
  top: 297px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text27 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text28 {
  top: 278px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text29 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image14 {
  top: 339px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(172, 0, 197, 1);
}
.co-counsel-networkinbox1517444-svg13 {
  top: 345px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg14 {
  top: 352px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text30 {
  top: 371px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text31 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text32 {
  top: 352px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text33 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image15 {
  top: 413px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(112, 3, 151, 1);
}
.co-counsel-networkinbox1517444-svg15 {
  top: 419px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg16 {
  top: 426px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text34 {
  top: 445px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text35 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image16 {
  top: 413px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(172, 0, 197, 1);
}
.co-counsel-networkinbox1517444-svg17 {
  top: 419px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg18 {
  top: 426px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text36 {
  top: 445px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text37 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text38 {
  top: 426px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text39 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg19 {
  top: 355px;
  left: 660px;
  width: 4;
  height: 4;
  position: absolute;
}
.co-counsel-networkinbox1517444-text40 {
  top: 348px;
  left: 423px;
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text41 {
  color: rgba(155, 155, 155, 1);
  width: 175px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg20 {
  top: 293px;
  left: 614px;
  width: 54;
  height: 54;
  position: absolute;
}
.co-counsel-networkinbox1517444-text42 {
  top: 313px;
  left: 427px;
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text43 {
  color: rgba(217, 240, 77, 1);
  width: 166px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-svg21 {
  top: 352px;
  left: 639px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg22 {
  top: 352px;
  left: 625px;
  width: 14;
  height: 11;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg23 {
  top: 352px;
  left: 612px;
  width: 13;
  height: 11;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg24 {
  top: 352px;
  left: 655px;
  width: 11;
  height: 11;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg25 {
  top: 294px;
  left: 675px;
  width: 3;
  height: 3;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg26 {
  top: 345px;
  left: 429px;
  width: 164;
  height: 0;
  position: absolute;
}
.co-counsel-networkinbox1517444-text44 {
  top: 430px;
  left: 288px;
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text45 {
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image17 {
  top: 487px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(172, 0, 197, 1);
}
.co-counsel-networkinbox1517444-svg27 {
  top: 493px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg28 {
  top: 500px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text46 {
  top: 519px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text47 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text48 {
  top: 500px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text49 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text50 {
  top: 504px;
  left: 288px;
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text51 {
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image18 {
  top: 561px;
  left: 42px;
  width: 344px;
  height: 64px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(172, 0, 197, 1);
}
.co-counsel-networkinbox1517444-svg29 {
  top: 567px;
  left: 52px;
  width: 326;
  height: 48;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg30 {
  top: 574px;
  left: 59px;
  width: 38;
  height: 38;
  position: absolute;
}
.co-counsel-networkinbox1517444-text52 {
  top: 593px;
  left: 120px;
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text53 {
  color: rgba(203, 169, 233, 1);
  width: 231px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text54 {
  top: 574px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text55 {
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text56 {
  top: 578px;
  left: 288px;
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text57 {
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text58 {
  top: 353px;
  left: 290px;
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-text59 {
  color: rgba(219, 255, 0, 1);
  width: 82px;
  height: auto;
  align-self: auto;
  font-style: italic;
  text-align: right;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.co-counsel-networkinbox1517444-image19 {
  top: 170px;
  left: 212px;
  width: 71px;
  height: 2px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(223, 0, 255, 1);
}
.co-counsel-networkinbox1517444-group1228193850 {
  top: 827px;
  left: -7px;
  width: 439px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-svg31 {
  width: 439;
  height: 104;
  position: absolute;
}
.co-counsel-networkinbox1517444-svg32 {
  top: 75px;
  left: 146px;
  width: 150;
  height: 4;
  position: absolute;
}
.co-counsel-networkinbox1517444-image20 {
  top: 13px;
  left: 111px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image21 {
  top: 13px;
  left: 199px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image22 {
  top: 13px;
  left: 287px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image23 {
  top: 13px;
  left: 375px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image24 {
  top: 13px;
  left: 23px;
  width: 44px;
  height: 44px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.co-counsel-networkinbox1517444-image25 {
  top: 0px;
  left: 364px;
  width: 69px;
  height: 5px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(168, 73, 173, 1);
}
